.wrapper {
    padding: 80px 0px;
    display: flex;
    justify-content: center;
}

.itemsContainer {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.item {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px 0px 0px;
    border-top: 1px solid #ddd;
}

.item:last-child {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 250px;
}

.summary {
    width: 200px;
}

.summary h3 {
    font-size: 18px;
}

.summary p {
    font-size: 15px;
}

.removeItem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.itemImage {
    position: relative;
    width: 120px;
    margin-left: 20px;
    border-radius: 15px;
    overflow: hidden;
}

.changeQt {
    position: absolute;
    display: flex;
    background-color: gray;
    bottom: 10px;
    right: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #fff;
    overflow: hidden;
}

.changeQt button {
    cursor: pointer;
    padding: 2px 7px;
    background-color: inherit;
    outline: none;
    border: none;
    border-radius: 5px;
}

.changeQt span {
    width: 20px;
    text-align: center;
}

.itemImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.checkoutContainer {
    padding-top: 20px;
}

.checkout {
    width: 250px;
    background-color: #f0f0f0;
    padding: 15px 15px 30px;
    border-radius: 10px;
    position: sticky;
    top: 40px;
}

.checkout h3 {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
}

.checkoutItems {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
}

.checkoutItem,
.total,
.subtotal div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}

.ckecoutItemInfo {
    display: flex;
    flex-direction: column;
}

.ckecoutItemInfo h4 {
    font-size: 14px;
}

.ckecoutItemInfo span {
    font-size: 12px;
}

.totalContainer {
    margin-bottom: 40px;
}

/* Empty Cart */
.noProductContainer {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.noProductContainer span {
    font-size: 15px;
    color: #777;
}

.goShopBtn {
    padding: 7px 45px;
    background-color: #19191B;
    border: 1px solid #19191B;
    cursor: pointer;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    outline: none;
    text-decoration: none;
}

.goShopBtn:hover {
    background-color: #000;
}

.cartImageContainer {
    height: 100px;
    width: 100px;
    overflow: hidden;
}

.cartImageContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* Mobile */

@media (max-width: 500px) {
    .wrapper {
        flex-direction: column;
    }

    .itemsContainer {
        margin-right: 0px;
    }
    .checkout {
        position: initial;
        margin: 0px;
        align-self: center;
    }
}