.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 0px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageContainer {
    width: 400px;
    height: 400px;
}

.imageContainer img {
    height: 100%;
    width: 100%;
}

.formContainer {
    /* width: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginTitle {
    font-size: 32px;
    margin-bottom: 20px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.loginForm button {
    margin-top: 10px;
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 10px 5px;
}

.loginForm label {
    margin-bottom: 5px;
    font-weight: 500;
}

.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
    padding-right: 20px;
}

.loginInput {
    width: 400px;
    padding: 10px 15px;
    border: none;
    outline: none;
}

.iconContainer {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.iconContainer svg {
    /* fill: #5D5D5B; */
}


.errorMsg {
    height: 33px;
    width: 100%;
    padding: 5px 15px;
    font-size: 15px;
    font-weight: 500;
    background-color: #F05A5C;
    border-radius: 20px;
}

/* Monitor */

@media (min-width: 1440px) {
    .wrapper {
        height: 100vh;
    }
}

/* Mobile */

@media (max-width: 500px) {
    .wrapper {
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .infoContainer {
        margin-top: 40px;
    }

    .loginInput {
        width: 250px;
    }
}
